SSF Events not just informational

Whenever I bring up the use of SSF for managing session state or changes to deployed systems, I quite often get a response that SSF Events are "just informational". In my conversations with a number of people this isn't strictly true. Instead, the SSF specifications are silent on the behavioral rules in play for any given deployment when an event is received.

I'm wondering if makes sense to clearly call this out in the specification as a non-normative information statement. Something like...

The Shared Signals Framework does not define explicit processing behavior for receipt of events specifically to allow for each deployment to define the behaviors that make sense for that environment. These behaviors can range from treating the event as informational input to additional processing, to mandatory enforcement of the specified state change (e.g. session revoke).


It definitely isn't in the spec, but we had been talking about that being a business decision/agreement based on the relationship between a transmitter and receiver. 

That could also be in a consortium-like relationship (e.g. in this network, if you get session revoked, you're expecting to send the user back to the IdP).

But this was always just verbal/positioning and nothing normative outside of what Karl highlighted from SET. 

I understand the last paragraph in Section 1 of RFC8417 to be about that "an SET cannot be assumed to be commands or requests". I would have added the word "automatically" there. In section 3, I assume the word "Semantics" to include the kind of command semantics we are talking about here, even though the example provided is about the format.

In conclusion, in Section 1, or Section 3 (or anywhere else in RFC8417), I don't see language that prohibits the use of SETs as commands, so although they are defined to be informational, using them for commands is not ruled out.

Command is flipping "may interpret for their own purposes" in the last paragraph in Section 1 of RFC8417 to "MUST interpret as X".  SETs are defined as informational as to not prescribe how the consumer MUST interpret the event.  This decoupling was why they were modeled as events.  Its just an observable. 

See this [thread](https://github.com/openid/ipsie/issues/66) from the IPSIE WG as well.

My interest is in using profiles to define how the recipient of an event takes action on that event.  In other words, we can further constrain the existing profiles and assign an action to event receipt if, and only if, both parties are agreeing to be bound by the requirements of the profile.  

IPSIE will tackle this issue sometime down the road, most likely no earlier than 2026 given the work that remains to be completed between now and our proposed interop event in December 2025.