CAEP interop profile - Access token related queries from certification team

From a recent discussion with @thomasdarimont we had some about the text around https://github.com/openid/sharedsignals/blob/main/openid-caep-interoperability-profile-1_0.md#authorization-server

Questions:

1. Does the profile mandate the user of bearer access tokens (I think it can be read that way), or are DPoP or MTLS sender constrained tokens permitted to be used?
2. I believe the profile does at least allow the user of bearer access tokens, are we comfortable with that given e.g. https://www.cisa.gov/sites/default/files/2025-03/CSRBReviewOfTheSummer2023MEOIntrusion508.pdf is recommending the use of bound tokens?
3. Have we actually seen the use of the authorization code flow to obtain an access token for SSF usage? It's not something supported by the conformance tests and as far as I know no one has raised it as an issue so maybe that mode could be removed? If it can't be removed maybe we could at least declare it out of scope for certification for now?

[depending on the answers to these questions I think it would be good to include some clarifications into the spec to make it clearer.]


Thoughts:
- I think using a short-lived token without DPoP is OK. The spec recommends using a short-lived token. The conformance test need not worry about token lifetime though.
- Using short-lived token is probably not as good as using DPoP or MTLS, but it is a practical limitation of implementations today, and still keeps the security properties reasonable.
- We can remove language around the authorization code flow. As far as I can see, it is only mentioned as an example in section 2.7.1 of short-lived tokens in the FAPI draft, not something we should expect in SSF.

@jogu , can we close this issue? Should we create a separate issue to remove the language around the authorization code flow?


> * I think using a short-lived token without DPoP is OK. The spec recommends using a short-lived token. The conformance test need not worry about token lifetime though.

If I understood the answer correctly, then the thought is that the CAEP profile requires transmitters to accept bearer access tokens and the text in the spec should be made clearer?

(I think we could make the conformance tests at least check for `expires_in` values but `short`, is there a definition of "short"? It would just be a warning if the spec is only recommending short.)

> * Using short-lived token is probably not as good as using DPoP or MTLS, but it is a practical limitation of implementations today, and still keeps the security properties reasonable.
> * We can remove language around the authorization code flow. As far as I can see, it is only mentioned as an example in section 2.7.1 of short-lived tokens in the FAPI draft, not something we should expect in SSF.

I thought there had been a WG discussion that decided to keep it as Apple use the authorization code flow?


We discussed this today.

## Access Token Lifetime

We agreed to generate a `warning` in the conformance tests if we detect an access token that is NOT "short-lived" (expires_in > 60mins). I'll update the conformance tests to include such a check.
See: https://openid.github.io/sharedsignals/openid-caep-interoperability-profile-1_0.html#section-2.7.1-3

## Autorization-Code Flow
A few big vendors use the authorization code flow at the moment. However, most implementations that have used the conformance tests so far provided a client configuration to obtain an access token via the client_credentials grant, which seems more suitable for mostly machine-to-machine interaction. This is also reflected in https://openid.net/specs/openid-sharedsignals-framework-1_0-final.html#section-7.1.1 `...In this case, the Receiver may obtain an access token using the Client Credentials Grant (Section 4.4 of [RFC6749]), or any other method suitable for the Receiver and the Transmitter...`

The authorization code flow is mentioned as an additional way to obtain access tokens in https://openid.github.io/sharedsignals/openid-caep-interoperability-profile-1_0.html#section-2.7.1, which matches the language in the SSF spec `... or any other method suitable for the Receiver and the Transmitter...`.
Since the auth code flow is usually an interactive flow that requires user presence (or at least user credentials), it is challenging to support it in conformance testing for things that interact via machine-to-machine communication. 
We are still undecided whether to keep supporting authorization code grant flow or limit the option to just client credentials grant flow.

We discussed the "Autorization-Code Flow" part again in todays SSF WG call. 

We still couldn't agree on whether or not to remove the support for Authorization-Code flow. For certification we agreed that implementations that use Authorization-Code flow to obtain a token, can run the conformance tests with an access token that was obtained outside of the conformance suite.

This requires adjusting the SSF tests in the conformance suite and to skip some checks (e.g. token TTL).

Using the authorization code flow and pasting in the access token to the certification tests is considered an acceptable method for now.